* {
    list-style: none;
    text-decoration: none;
}

a:link {
    color: #f0fdfa;
}

body {
    display: grid;
    grid-template-rows: 1fr 4.5fr;
    grid-template-columns: 1fr 5fr;
    margin: 0;
    width: 100vw;
    height: 100vh;
    
}

.sidebar {
    background-color: #134e4a;
    grid-row: 1 / span 2;
    color: #f0fdfa;
}

.header {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 5px 25px 5px;
}


.content {
    background: #ccfbf1;
    display: grid;
    grid-template: 1fr 1fr / 4fr 1fr;
    gap: 10px;
    padding: 30px 10px 50px;
}

#projects-container {
    grid-column-start: 1;
    grid-row: 1 / span 2;
}

.content>* {
    border: 1px solid black;
}